* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/* Sections */
.home-section {
  min-height: 500px;
}

.home-pg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.title {
  color: orange;
  font-size: 6rem;
}

.title-div {
  text-align: left;
  margin-left: 3rem;
}

.tag-line {
  color: #444343;
  font-size: 3rem;
}

h1 {
  font-size: 2em;
}

.product-title {
  font-weight: bold;
  font-size: 1.2em;
}

.product-id {
  font-size: 0.8em;
  margin: 1em 0;
}

.product-edit-icon {
  opacity: 0.7;
  position: absolute;
  right: 2.3rem;
  top: 0.4rem;
}

.product-edit-icon:hover {
  opacity: 1;
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: stretch !important;
  display: flex !important;
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.navbar-item {
  display: flex !important;
  color: aliceblue;
}

.navbar-item a :hover {
  color: #000000;
}
.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.features {
  padding-bottom: 3em;
}

body {
  visibility: visible !important;
}

/* .auth form{
  margin-top: 1em;
  max-width: 50%;
} */

.buttons {
  margin-left: 3em;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
  box-sizing: border-box;
}

.link-div {
  text-align: left;
  display: inline-block;
  margin-left: 3rem;
  margin-top: 3rem;
}

.home-btn {
  display: inherit;
  font-size: 1.2rem;
  border-radius: 2rem;
  color: white;
  font-weight: normal;
  background-color: orange;
  text-decoration: none;
  color: #ffffff;
  padding: 16px;
  margin-right: 1rem;
}

.home-btn:hover {
  color: white;
  border-radius: 2rem;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  background-color: rgba(241, 169, 35, 0.911);
  padding: 16px;
  margin-right: 1rem;
}

.avail-day {
  display: none;
}

.avail-time {
  display: none;
}

.service-provider {
  display: none;
}

.big-checkbox {
  width: 20px;
  height: 20px;
}

footer {
  background-color: #fff;
  /* position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden; */
}

.login-form {
  /* background-color: #FFF; */
  margin: auto 20%;
  padding-top: 3rem;
  width: 20rem;
  color: #ffffff;
}

.auth {
  min-height: 65vh;
  background: linear-gradient(70deg, coral 50%, black 50%);
}

.new-user {
  color: #ffffff;
}

.new-user:hover {
  color: aqua;
}

.register-section {
  background-color: aliceblue;
}

.register {
  margin: 0 60px;
  padding-top: 3rem;
}

.register-input-fields {
  /* width: 30% !important; */
  margin-bottom: 3%;
}

.register-title {
  margin-bottom: 3%;
}

.name-link {
  margin-top: 0.1rem;
  color: rgb(6, 117, 151);
  font-size: 30px;
  font-family: "Copperplate";
}

/* For sidebar */
.sidenav {
  height: 100%;
  width: 12rem;
  position: fixed;
  margin-top: 52px;
  padding-left: 4px;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: rgb(10, 43, 192); */
  background-color: rgb(4, 70, 90);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 12px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f9f9f9;
}

main {
  margin-left: 12rem;
  padding: 0px 3%;
}

.dashboard-heading {
  margin-top: 3%;
}

.job-search-div {
  display: flex;
}

.drop-down {
  font-size: 1.2rem;
  padding: 2px 8px 4px 0px;
  margin-right: 3%;
}

.location-input {
  margin-right: 4px;
}

.radio-register {
  margin-right: 1rem;
}

.radio-inline {
  margin-right: 0.5rem;
}

span.icon-size {
  margin-bottom: 1rem;
}

/* Dashboard Employer */

.name-of-user {
  color: #1164d1;
  font-family: "Bebas Neue", cursive;
  text-decoration: underline;
  margin: 2rem 0;
  font-size: 3.5rem;
}

.created-title {
  color: #155ab4;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.create-job-form {
  background-color: #f9f9f9;
  margin: 1rem 0;
  padding: 2% 3%;
  box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}

.create-btn {
  margin-top: 1rem;
}

/* Dashboard Employer end */

/* Register page */

.box {
  width: 50%;
  margin: 0 auto;
  padding: 1rem 2rem;
  box-shadow: 1px solid black;
  font-size: small;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.agreeLabel {
  margin-right: 1rem;
}

#agree {
  margin-right: 0.3rem;
}
/* Register page end */

.job-card {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.Employer {
  margin-left: 1rem;
}

a.side-active {
  text-decoration: underline;
}

.job-card .card {
  /* background-color: #1f5c74; */
  /* background-color: #2f2fa2; */
  background: url("https://images.unsplash.com/photo-1618556450994-a6a128ef0d9d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Ymx1ZSUyMGJhY2tncm91bmRzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  background-size: cover;
  color: #fff;
  width: 75%;
  border-radius: 15px;
  /* -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 6px 5px rgba(255, 255, 255, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 6px 5px rgba(255, 255, 255, 0); */
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    21px -24px 36px -7px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 10px 13px -7px #000000,
    21px -24px 36px -7px rgba(0, 0, 0, 0.07);
  line-height: 2;
}

.apply-job-btn {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #3f6da8 5%, #3f64df 100%);
  background-color: #2f6686;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1rem;
  padding: 0.4rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  margin-left: 2rem;
}

.apply-job-btn:hover {
  background: linear-gradient(to bottom, #542ed1 5%, #7154a8 100%);
  background-color: #542ed1;
}

.form-row.details-form {
  margin: 2rem 0;
}

.personal-summary {
  margin: 2rem 0 1rem;
}

.profile-body {
  background-color: #fbfbfd;
}

.profile-body .form-row {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding: 3% 4%;
}

.profile-form {
  width: 50%;
  margin: 0 auto;
}

.personal-summary h2 {
  margin-bottom: 1.2rem;
}

.summary-text-area {
  padding: 0.2rem;
  border-radius: 10px;
}

.summary-text-area:focus {
  outline: none;
}

.form-group input[type="text"],
.form-group select {
  margin-bottom: 1rem;
  display: block;
}

.last-text {
  display: inline;
}

.admin-functionality-list {
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding-left: 2rem;
}

.form-row.admin-form {
  width: 60%;
  margin: 0 auto;
}

.admin-title {
  text-align: center;
  margin: 2rem 0;
}

.cardAdmin{
  margin-left: 8rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  padding: auto;
}

.cardbodyAdmin{
  margin-right: 7rem;

}

article.job-card {
  display: grid;
  grid-template-columns: 80px auto 100px;
  grid-template-rows: 35px 10px 35px;
  width: 60rem;
  position: relative;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  font-family: 'Helvetica';
  padding: 24px;
}

article.job-card:hover,
article.job-card:focus {
  background-color: rgba(0,166,194,.03);
    border-color: #b2e4ec;
}



.job-title {
  grid-area: 1 / 1 / 1 / 3;
  font-size: 25px;
  align-self: start;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 8px;
}

.description {
  grid-area: 3 / 1 / 3 / 3;
  align-self: center;
  font-size: 18px;
  color: #777;
  margin-top: 15px;
  padding: 0 8px;
}

.category {
  grid-area: 2 / 1 / 2 / 3;
  align-self: center;
  font-size: 18px;
  color: #777;
  margin-top: 15px;
  padding: 0 8px;
}

.skills-container {
  grid-area: 4 / 1 / 4 / 3;
  align-self: center;
  padding-top: 10px;
  padding: 8px;
  margin-top: 0.1rem;
}

.skill {
  display: inline;
  color: #00a6c2;
  border-radius: 2px;
  background-color: rgba(0,166,194,.05);
  border: 1px solid rgba(0,166,194,.15);
  padding: 5px 8px;
  margin-right: 10px;
  font-size: 15px;
}


.apply {
  display: block;
  width: 50%;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 12px;
  z-index: 2;
  grid-area: 3 / 4 / 3 / 4;
  background-color: #43b7dd;
  color: #fff;
}


/*  */

body {
  background: #ededed;
  font-family: 'Open Sans', sans-serif;
}
.center {
  position: absolute;
  display: inline-block;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    position: relative;
    display: inline-block;
  }
    .custom-select-trigger {
      position: relative;
      display: block;
      width: 130px;
      padding: 0 84px 0 22px;
      font-size: 22px;
      font-weight: 300;
      color: #fff;
      line-height: 60px;
      background: #5c9cd8;
      border-radius: 4px;
      cursor: pointer;
    }
      .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 18px;
      font-weight: 600;
      color: #b5b5b5;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      background: #f9f9f9;
    }