* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/* Sections */
.home-section {
  min-height: 500px;
}

.home-pg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.title {
  color: orange;
  font-size: 6rem;
}

.title-div {
  text-align: left;
  margin-left: 3rem;
}

.tag-line {
  color: #444343;
  font-size: 3rem;
}

h1 {
  font-size: 2em;
}

.product-title {
  font-weight: bold;
  font-size: 1.2em;
}

.product-id {
  font-size: 0.8em;
  margin: 1em 0;
}

.product-edit-icon {
  opacity: 0.7;
  position: absolute;
  right: 2.3rem;
  top: 0.4rem;
}

.product-edit-icon:hover {
  opacity: 1;
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: stretch !important;
  display: flex !important;
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.navbar-item {
  display: flex !important;
  color: aliceblue;
}

.navbar-item a :hover {
  color: #000000;
}
.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.features {
  padding-bottom: 3em;
}

body {
  visibility: visible !important;
}

/* .auth form{
  margin-top: 1em;
  max-width: 50%;
} */

.buttons {
  margin-left: 3em;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
  box-sizing: border-box;
}

.link-div {
  text-align: left;
  display: inline-block;
  margin-left: 3rem;
  margin-top: 3rem;
}

.home-btn {
  display: inherit;
  font-size: 1.2rem;
  border-radius: 2rem;
  color: white;
  font-weight: normal;
  background-color: orange;
  text-decoration: none;
  color: #ffffff;
  padding: 16px;
  margin-right: 1rem;
}

.home-btn:hover {
  color: white;
  border-radius: 2rem;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  background-color: rgba(241, 169, 35, 0.911);
  padding: 16px;
  margin-right: 1rem;
}

.avail-day {
  display: none;
}

.avail-time {
  display: none;
}

.service-provider {
  display: none;
}

.big-checkbox {
  width: 20px;
  height: 20px;
}

footer {
  background-color: #fff;
  /* position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden; */
}

.login-form {
  /* background-color: #FFF; */
  margin: auto 20%;
  padding-top: 3rem;
  width: 20rem;
  color: #ffffff;
}

.auth {
  min-height: 65vh;
  background: linear-gradient(70deg, coral 50%, black 50%);
}

.new-user {
  color: #ffffff;
}

.new-user:hover {
  color: aqua;
}

.register-section {
  background-color: aliceblue;
}

.register {
  margin: 0 60px;
  padding-top: 3rem;
}

.register-input-fields {
  /* width: 30% !important; */
  margin-bottom: 3%;
}

.register-title {
  margin-bottom: 3%;
}

.name-link {
  color: rgb(160, 9, 190);
  font-size: 1.2rem;
}

/* For sidebar */
.sidenav {
  height: 100%;
  width: 12rem;
  position: fixed;
  margin-top: 52px;
  padding-left: 4px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(10, 43, 192);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 12px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f9f9f9;
}

main {
  margin-left: 12rem;
  padding: 0px 3%;
}

.dashboard-heading {
  margin-top: 3%;
}

.job-search-div {
  display: flex;
}

.drop-down {
  font-size: 1.2rem;
  padding: 2px 8px 4px 0px;
  margin-right: 3%;
}

.location-input {
  margin-right: 4px;
}

.radio-register {
  margin-right: 1rem;
}

.radio-inline {
  margin-right: 0.5rem;
}

/* Dashboard Employer */

.name-of-user {
  color: #1164d1;
  font-family: "Bebas Neue", cursive;
  text-decoration: underline;
  margin: 2rem 0;
  font-size: 3.5rem;
}

.created-title {
  color: #155ab4;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.create-job-form {
  background-color: #f9f9f9;
  margin: 1rem 0;
  padding: 2% 3%;
  box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}

.create-btn {
  margin-top: 1rem;
}

/* Dashboard Employer end */

/* Register page */

.box {
  width: 50%;
  margin: 0 auto;
  padding: 1rem 2rem;
  box-shadow: 1px solid black;
  font-size: small;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.agreeLabel {
  margin-right: 1rem;
}

#agree {
  margin-right: 0.3rem;
}
/* Register page end */

.job-card {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.Employer {
  margin-left: 1rem;
}

a.side-active {
  text-decoration: underline;
}

.job-card .card {
  background-color: #1f5c74;
  color: #fff;
  width: 75%;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 6px 5px rgba(255, 255, 255, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 6px 5px rgba(255, 255, 255, 0);
  line-height: 2;
}

.apply-job-btn {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #3f6da8 5%, #3f64df 100%);
  background-color: #2f6686;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1rem;
  padding: 0.4rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

.apply-job-btn:hover {
  background: linear-gradient(to bottom, #542ed1 5%, #7154a8 100%);
  background-color: #542ed1;
}

.form-row.details-form {
  margin: 2rem 0;
}

.personal-summary {
  margin: 2rem 0 1rem;
}

.profile-body {
  background-color: #fbfbfd;
}

.profile-body .form-row {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding: 3% 4%;
}

.profile-form {
  width: 50%;
  margin: 0 auto;
}
